@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --primary-color: #4CAF50;
  --secondary-color: #45a049;
  --text-color: #333;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 2rem;
}